'Year[[:space:]]4/NG4D900[[:space:]]-[[:space:]]MEng[[:space:]]Group[[:space:]]Project/Renesas-MCU-Car-Rally-2018-USW/Project[[:space:]]Management/Presentation/*.mov' filter=lfs diff=lfs merge=lfs -text
'Year[[:space:]]4/NG4D900[[:space:]]-[[:space:]]MEng[[:space:]]Group[[:space:]]Project/Renesas-MCU-Car-Rally-2018-USW/Project[[:space:]]Management/Presentation/*.MOV' filter=lfs diff=lfs merge=lfs -text
